KitIntegracionWS/wsdl/mfirma/BlockSignatureGetCompleteInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://afirmaws/services/BlockSignatureGetCompleteInfo" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://afirmaws/services/BlockSignatureGetCompleteInfo" xmlns:intf="http://afirmaws/services/BlockSignatureGetCompleteInfo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wssignature="http://afirmaws/ws/signature" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <xs:schema targetNamespace="http://afirmaws/ws/signature" xmlns:wssignature="http://afirmaws/ws/signature" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <import namespace=""/>

	<!--PETICION-->

	<!-- Definicion Elementos Simples -->

	   <xs:group name="IdAplicacion">

		    <xs:sequence>

			     <xs:element name="applicationId" type="xs:string"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="FirmaElectronica">

		    <xs:sequence>

			     <xs:element name="eSignature" type="xs:base64Binary"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="CertificadoFirmante">

		    <xs:sequence>

			     <xs:element name="signerCertificate" type="xs:base64Binary"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="FormatoFirma">

		    <xs:sequence>

			     <xs:element name="eSignatureFormat">

				      <xs:simpleType>

					       <xs:restriction base="xs:string">

						        <xs:enumeration value="CMS"/>

						        <xs:enumeration value="CADES-BES"/>

						        <xs:enumeration value="CADES-T"/>

						        <xs:enumeration value="ODF"/>

						        <xs:enumeration value="PDF"/>

						        <xs:enumeration value="PKCS7"/>

						        <xs:enumeration value="XADES-BES"/>

						        <xs:enumeration value="XADES-T"/>

						        <xs:enumeration value="XMLDSIG"/>

					       </xs:restriction>

				      </xs:simpleType>

			     </xs:element>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="Hash">

		    <xs:sequence>

			     <xs:element name="hash" type="xs:base64Binary"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="Documento">

		    <xs:sequence>

			     <xs:element name="document" type="xs:base64Binary"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="Datos">

		    <xs:sequence>

			     <xs:element name="data" type="xs:base64Binary"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="IdDocumento">

		    <xs:sequence>

			     <xs:element name="documentId" type="xs:string"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="IdTransaccion">

		    <xs:sequence>

			     <xs:element name="transactionId" type="xs:string"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="IdDocumentos">

		    <xs:sequence>

			     <xs:element name="idDocuments">

				      <xs:complexType>

					       <xs:sequence maxOccurs="unbounded">

						        <xs:group ref="wssignature:IdDocumento"/>

					       </xs:sequence>

				      </xs:complexType>

			     </xs:element>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="IdTransacciones">

		    <xs:sequence>

			     <xs:element name="idTransactions">

				      <xs:complexType>

					       <xs:sequence maxOccurs="unbounded">

						        <xs:group ref="wssignature:IdTransaccion"/>

					       </xs:sequence>

				      </xs:complexType>

			     </xs:element>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="IdDocumentosMultifirmados">

		    <xs:sequence>

			     <xs:element name="Block">

				      <xs:complexType>

					       <xs:sequence maxOccurs="unbounded">

						        <xs:element name="idBlock" type="xs:string"/>

						        <xs:group ref="wssignature:IdDocumento"/>

					       </xs:sequence>

				      </xs:complexType>

			     </xs:element>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="NombreDocumento">

		    <xs:sequence>

			     <xs:element name="documentName" type="xs:string"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="TipoDocumento">

		    <xs:sequence>

			     <xs:element name="documentType" type="xs:string"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="CustodiarDocumento">

		    <xs:sequence>

			     <xs:element name="storeDocument" type="xs:boolean"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="Firmante">

		    <xs:sequence>

			     <xs:element name="signer" type="xs:string"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="IdReferencia">

		    <xs:sequence>

			     <xs:element name="reference" type="xs:string"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="AlgoritmoHash">

		    <xs:sequence>

			     <xs:element name="hashAlgorithm">

				      <xs:simpleType>

					       <xs:restriction base="xs:string">

						        <xs:enumeration value="MD2"/>

						        <xs:enumeration value="MD5"/>

						        <xs:enumeration value="SHA"/>

						        <xs:enumeration value="SHA1"/>

						        <xs:enumeration value="SHA256"/>

						        <xs:enumeration value="SHA384"/>

						        <xs:enumeration value="SHA512"/>

					       </xs:restriction>

				      </xs:simpleType>

			     </xs:element>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="FirmanteObjetivo">

		    <xs:sequence>

			     <xs:element name="targetSigner" type="xs:base64Binary"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="JustificanteFirmaElectronica">

		    <xs:sequence>

			     <xs:element name="evidenceOfESignature" type="xs:base64Binary"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="BloqueFirmas">

		    <xs:sequence>

			     <xs:element name="block" type="xs:base64Binary"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="IdDocumentosBloque">

		    <xs:sequence>

			     <xs:group ref="wssignature:IdDocumentos"/>

			     <xs:group ref="wssignature:IdDocumentosMultifirmados"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="DatosAFirmar">

		    <xs:sequence>

			     <xs:group ref="wsfirma:Documento"/>

			     <xs:group ref="wsfirma:NombreDocumento"/>

			     <xs:group ref="wsfirma:TipoDocumento"/>

		    </xs:sequence>

	   </xs:group>

	<!-- Definicion Grupos de Elementos de Entrada segun Servicio Web -->

	   <xs:group name="SignatureValidation">

		    <xs:sequence>

			     <xs:group ref="wssignature:IdAplicacion"/>

			     <xs:group ref="wssignature:FirmaElectronica"/>

			     <xs:group minOccurs="0" ref="wssignature:FormatoFirma"/>

			     <xs:group minOccurs="0" ref="wssignature:Hash"/>

			     <xs:group minOccurs="0" ref="wssignature:AlgoritmoHash"/>

			     <xs:group minOccurs="0" ref="wssignature:Datos"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="ServerSignature">

		    <xs:sequence>

			     <xs:group ref="wssignature:IdAplicacion"/>

			     <xs:choice>

				      <xs:group ref="wssignature:IdDocumento"/>

				      <xs:group ref="wssignature:DatosAFirmar"/>

			     </xs:choice>

			     <xs:group ref="wssignature:Firmante"/>

			     <xs:group minOccurs="0" ref="wssignature:IdReferencia"/>

			     <xs:group minOccurs="0" ref="wssignature:AlgoritmoHash"/>

			     <xs:group minOccurs="0" ref="wssignature:FormatoFirma"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="ServerSignatureCoSign">

		    <xs:sequence>

			     <xs:group ref="wssignature:IdAplicacion"/>

			     <xs:group ref="wssignature:IdTransaccion"/>

			     <xs:group ref="wssignature:Firmante"/>

			     <xs:group minOccurs="0" ref="wssignature:IdReferencia"/>

			     <xs:group minOccurs="0" ref="wssignature:AlgoritmoHash"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="ServerSignatureCounterSign">

		    <xs:sequence>

			     <xs:group ref="wssignature:IdAplicacion"/>

			     <xs:group ref="wssignature:IdTransaccion"/>

			     <xs:group ref="wssignature:Firmante"/>

			     <xs:group minOccurs="0" ref="wssignature:IdReferencia"/>

			     <xs:group minOccurs="0" ref="wssignature:AlgoritmoHash"/>

			     <xs:group minOccurs="0" ref="wssignature:FirmanteObjetivo"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="ThreePhaseUserSignatureF1">

		    <xs:sequence>

			     <xs:group ref="wssignature:IdAplicacion"/>

			     <xs:group ref="wssignature:IdDocumento"/>

			     <xs:group minOccurs="0" ref="wssignature:AlgoritmoHash"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="ThreePhaseUserSignatureF1CoSign">

		    <xs:sequence>

			     <xs:group ref="wssignature:IdAplicacion"/>

			     <xs:group ref="wssignature:IdTransaccion"/>

			     <xs:group minOccurs="0" ref="wssignature:AlgoritmoHash"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="ThreePhaseUserSignatureF1CounterSign">

		    <xs:sequence>

			     <xs:group ref="wssignature:IdAplicacion"/>

			     <xs:group ref="wssignature:IdTransaccion"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="ThreePhaseUserSignatureF3">

		    <xs:sequence>

			     <xs:group ref="wssignature:IdAplicacion"/>

			     <xs:group ref="wssignature:IdTransaccion"/>

			     <xs:group ref="wssignature:FirmaElectronica"/>

			     <xs:group ref="wssignature:CertificadoFirmante"/>

			     <xs:group minOccurs="0" ref="wssignature:FormatoFirma"/>

			     <xs:group minOccurs="0" ref="wssignature:IdReferencia"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="TwoPhaseUserSignatureF2">

		    <xs:sequence>

			     <xs:group ref="wssignature:IdAplicacion"/>

			     <xs:group ref="wssignature:FirmaElectronica"/>

			     <xs:group ref="wssignature:CertificadoFirmante"/>

			     <xs:group minOccurs="0" ref="wssignature:AlgoritmoHash"/>

			     <xs:group minOccurs="0" ref="wssignature:IdReferencia"/>

			     <xs:group minOccurs="0" ref="wssignature:FormatoFirma"/>

			     <xs:group minOccurs="0" ref="wssignature:Documento"/>

			     <xs:group minOccurs="0" ref="wssignature:NombreDocumento"/>

			     <xs:group minOccurs="0" ref="wssignature:TipoDocumento"/>

			     <xs:group minOccurs="0" ref="wssignature:CustodiarDocumento"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="BlockSignatureValidationComplete">

		    <xs:sequence>

			     <xs:group ref="wssignature:IdAplicacion"/>

			     <xs:group ref="wssignature:FirmaElectronica"/>

			     <xs:group ref="wssignature:BloqueFirmas"/>

			     <xs:group minOccurs="0" ref="wssignature:FormatoFirma"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="BlockSignatureValidationDocument">

		    <xs:sequence>

			     <xs:group ref="wssignature:IdAplicacion"/>

			     <xs:group ref="wssignature:FirmaElectronica"/>

			     <xs:group ref="wssignature:Documento"/>

			     <xs:group ref="wssignature:IdDocumento"/>

			     <xs:group minOccurs="0" ref="wssignature:FormatoFirma"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="BlockUserSignatureF1">

		    <xs:sequence>

			     <xs:group ref="wssignature:IdAplicacion"/>

			     <xs:group ref="wssignature:Firmante"/>

			     <xs:group minOccurs="0" ref="wssignature:IdDocumentos"/>

			     <xs:group minOccurs="0" ref="wssignature:IdTransacciones"/>

			     <xs:group minOccurs="0" ref="wssignature:AlgoritmoHash"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="BlockUserSignatureF3">

		    <xs:sequence>

			     <xs:group ref="wssignature:IdAplicacion"/>

			     <xs:group ref="wssignature:IdTransaccion"/>

			     <xs:group ref="wssignature:FirmaElectronica"/>

			     <xs:group ref="wssignature:CertificadoFirmante"/>

			     <xs:group minOccurs="0" ref="wssignature:FormatoFirma"/>

			     <xs:group minOccurs="0" ref="wssignature:IdReferencia"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="BlockSignatureGetDocIds">

		    <xs:sequence>

			     <xs:group ref="wssignature:IdAplicacion"/>

			     <xs:group ref="wssignature:IdTransaccion"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="BlockSignatureGetDocIdsBackwards">

		    <xs:sequence>

			     <xs:group ref="wssignature:IdAplicacion"/>

			     <xs:group ref="wssignature:BloqueFirmas"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="BlockSignatureGetInfo">

		    <xs:sequence>

			     <xs:group ref="wssignature:IdAplicacion"/>

			     <xs:group ref="wssignature:IdTransaccion"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="BlockSignatureGetInfoBackwards">

		    <xs:sequence>

			     <xs:group ref="wssignature:IdAplicacion"/>

			     <xs:group ref="wssignature:BloqueFirmas"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="BlockSignatureGetCompleteInfo">

		    <xs:sequence>

			     <xs:group ref="wssignature:IdAplicacion"/>

			     <xs:group ref="wssignature:IdTransaccion"/>

		    </xs:sequence>

	   </xs:group>

	<!-- Definicion Grupos de Elementos de Salida  -->

	   <xs:group name="resultadoGeneral">

		    <xs:sequence>

			     <xs:element name="status" type="xs:boolean"/>

			     <xs:element minOccurs="0" name="description" type="xs:string"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoGeneralSignatureValidation">

		    <xs:sequence>

			     <xs:element name="estatus" type="xs:boolean"/>

			     <xs:element minOccurs="0" name="description" type="wssignature:descripcionSignatureValidation"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoGeneralBlockSignatureValidation">

		    <xs:sequence>

			     <xs:element name="status" type="xs:boolean"/>

			     <xs:element minOccurs="0" name="description" type="wssignature:descripcionBlockSignatureValidation"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoSignatureValidation">

		    <xs:sequence>

			     <xs:group ref="wssignature:resultadoGeneralSignatureValidation"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoBlockSignatureValidation">

		    <xs:sequence>

			     <xs:group ref="wssignature:resultadoGeneralBlockSignatureValidation"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoServerSignature">

		    <xs:sequence>

			     <xs:group ref="wssignature:resultadoGeneral"/>

			     <xs:group ref="wssignature:IdTransaccion"/>

			     <xs:group ref="wssignature:FirmaElectronica"/>

			     <xs:group ref="wssignature:FormatoFirma"/>

			     <xs:group minOccurs="0" ref="wssignature:IdDocumento"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoServerSignatureCoSign">

		    <xs:sequence>

			     <xs:group ref="wssignature:resultadoGeneral"/>

			     <xs:group ref="wssignature:IdTransaccion"/>

			     <xs:group ref="wssignature:FirmaElectronica"/>

			     <xs:group ref="wssignature:FormatoFirma"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoServerSignatureCounterSign">

		    <xs:sequence>

			     <xs:group ref="wssignature:resultadoGeneral"/>

			     <xs:group ref="wssignature:IdTransaccion"/>

			     <xs:group ref="wssignature:FirmaElectronica"/>

			     <xs:group ref="wssignature:FormatoFirma"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoThreePhaseUserSignatureF1">

		    <xs:sequence>

			     <xs:group ref="wssignature:resultadoGeneral"/>

			     <xs:group ref="wssignature:IdTransaccion"/>

			     <xs:group ref="wssignature:Hash"/>

			     <xs:group ref="wssignature:AlgoritmoHash"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoThreePhaseUserSignatureF1CoSign">

		    <xs:sequence>

			     <xs:group ref="wssignature:resultadoGeneral"/>

			     <xs:group ref="wssignature:IdTransaccion"/>

			     <xs:group ref="wssignature:FirmaElectronica"/>

			     <xs:group ref="wssignature:FormatoFirma"/>

			     <xs:group ref="wssignature:Hash"/>

			     <xs:group ref="wssignature:AlgoritmoHash"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoThreePhaseUserSignatureF1CounterSign">

		    <xs:sequence>

			     <xs:group ref="wssignature:resultadoGeneral"/>

			     <xs:group ref="wssignature:IdTransaccion"/>

			     <xs:group ref="wssignature:FirmaElectronica"/>

			     <xs:group ref="wssignature:FormatoFirma"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoThreePhaseUserSignatureF3">

		    <xs:sequence>

			     <xs:group ref="wssignature:resultadoGeneral"/>

			     <xs:group ref="wssignature:JustificanteFirmaElectronica"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoTwoPhaseUserSignatureF2">

		    <xs:sequence>

			     <xs:group ref="wssignature:resultadoGeneral"/>

			     <xs:group ref="wssignature:IdTransaccion"/>

			     <xs:group minOccurs="0" ref="wssignature:IdDocumento"/>

			     <xs:group ref="wssignature:JustificanteFirmaElectronica"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoBlockSignatureValidationComplete">

		    <xs:sequence>

			     <xs:group ref="wssignature:resultadoGeneralBlockSignatureValidation"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoBlockSignatureValidationDocument">

		    <xs:sequence>

			     <xs:group ref="wssignature:resultadoGeneralBlockSignatureValidation"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoBlockUserSignatureF1">

		    <xs:sequence>

			     <xs:group ref="wssignature:resultadoGeneral"/>

			     <xs:group ref="wssignature:IdTransaccion"/>

			     <xs:group ref="wssignature:Hash"/>

			     <xs:group ref="wssignature:AlgoritmoHash"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoBlockUserSignatureF3">

		    <xs:sequence>

			     <xs:group ref="wssignature:resultadoGeneral"/>

			     <xs:group ref="wssignature:JustificanteFirmaElectronica"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoBlockSignatureGetDocIds">

		    <xs:sequence>

			     <xs:group ref="wssignature:resultadoGeneral"/>

			     <xs:group ref="wssignature:IdDocumentosBloque"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoBlockSignatureGetDocIdsBackwards">

		    <xs:sequence>

			     <xs:group ref="wssignature:resultadoGeneral"/>

			     <xs:group ref="wssignature:IdDocumentosBloque"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoBlockSignatureGetInfo">

		    <xs:sequence>

			     <xs:group ref="wssignature:resultadoGeneral"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoBlockSignatureGetInfoBackwards">

		    <xs:sequence>

			     <xs:group ref="wssignature:resultadoGeneral"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoBlockSignatureGetCompleteInfo">

		    <xs:sequence>

			     <xs:group ref="wssignature:resultadoGeneral"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="Excepcion">

		    <xs:sequence>

			     <xs:element name="errorCode" type="xs:string"/>

			     <xs:element name="description" type="xs:string"/>

			     <xs:element minOccurs="0" name="exception" type="xs:string"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:element name="inputMessage">

		    <xs:complexType>

			     <xs:sequence>

				      <xs:element name="request">

					       <xs:simpleType>

						        <xs:restriction base="xs:string">

							         <xs:enumeration value="SignatureValidation"/>

							         <xs:enumeration value="ServerSignature"/>

							         <xs:enumeration value="ServerSignatureCoSign"/>

							         <xs:enumeration value="ServerSignatureCounterSign"/>

							         <xs:enumeration value="ThreePhaseUserSignatureF1"/>

							         <xs:enumeration value="ThreePhaseUserSignatureF1CoSign"/>

							         <xs:enumeration value="ThreePhaseUserSignatureF3"/>

							         <xs:enumeration value="TwoPhaseUserSignatureF2"/>

							         <xs:enumeration value="BlockSignatureValidationComplete"/>

							         <xs:enumeration value="BlockSignatureValidationDocument"/>

							         <xs:enumeration value="BlockUserSignatureF1"/>

							         <xs:enumeration value="BlockUserSignatureF1CoSign"/>

							         <xs:enumeration value="BlockUserSignatureF1CounterSign"/>

							         <xs:enumeration value="BlockUserSignatureF3"/>

							         <xs:enumeration value="BlockSignatureGetDocIds"/>

							         <xs:enumeration value="BlockSignatureGetDocIdsBackwards"/>

							         <xs:enumeration value="BlockSignatureGetInfo"/>

							         <xs:enumeration value="BlockSignatureGetInfoBackwards"/>

							         <xs:enumeration value="BlockSignatureGetCompleteInfo"/>

						        </xs:restriction>

					       </xs:simpleType>

				      </xs:element>

				      <xs:element name="versionMsg" type="xs:string"/>

				      <xs:element name="parameters">

					       <xs:complexType>

						        <xs:choice>

							         <xs:group ref="wssignature:SignatureValidation"/>

							         <xs:group ref="wssignature:ServerSignature"/>

							         <xs:group ref="wssignature:ServerSignatureCoSign"/>

							         <xs:group ref="wssignature:ServerSignatureCounterSign"/>

							         <xs:group ref="wssignature:ThreePhaseUserSignatureF1"/>

							         <xs:group ref="wssignature:ThreePhaseUserSignatureF1CoSign"/>

							         <xs:group ref="wssignature:ThreePhaseUserSignatureF3"/>

							         <xs:group ref="wssignature:TwoPhaseUserSignatureF2"/>

							         <xs:group ref="wssignature:BlockSignatureValidationComplete"/>

							         <xs:group ref="wssignature:BlockSignatureValidationDocument"/>

							         <xs:group ref="wssignature:BlockUserSignatureF1"/>

							         <xs:group ref="wssignature:BlockUserSignatureF3"/>

							         <xs:group ref="wssignature:BlockSignatureGetDocIds"/>

							         <xs:group ref="wssignature:BlockSignatureGetDocIdsBackwards"/>

							         <xs:group ref="wssignature:BlockSignatureGetInfo"/>

							         <xs:group ref="wssignature:BlockSignatureGetInfoBackwards"/>

							         <xs:group ref="wssignature:BlockSignatureGetCompleteInfo"/>

						        </xs:choice>

					       </xs:complexType>

				      </xs:element>

			     </xs:sequence>

		    </xs:complexType>

	   </xs:element>

	<!-- RESULTADO  -->

	<!-- Elemento raiz -->

	   <xs:element name="outputMessage">

		    <xs:complexType>

			     <xs:sequence>

				      <xs:element name="request">

					       <xs:simpleType>

						        <xs:restriction base="xs:string">

							         <xs:enumeration value="SignatureValidation"/>

							         <xs:enumeration value="ServerSignature"/>

							         <xs:enumeration value="ServerSignatureCoSign"/>

							         <xs:enumeration value="ServerSignatureCounterSign"/>

							         <xs:enumeration value="ThreePhaseUserSignatureF1"/>

							         <xs:enumeration value="ThreePhaseUserSignatureF1CoSign"/>

							         <xs:enumeration value="ThreePhaseUserSignatureF3"/>

							         <xs:enumeration value="TwoPhaseUserSignatureF2"/>

							         <xs:enumeration value="BlockSignatureValidationComplete"/>

							         <xs:enumeration value="BlockSignatureValidationDocument"/>

							         <xs:enumeration value="BlockUserSignatureF1"/>

							         <xs:enumeration value="BlockUserSignatureF3"/>

							         <xs:enumeration value="BlockSignatureGetDocIds"/>

							         <xs:enumeration value="BlockSignatureGetDocIdsBackwards"/>

							         <xs:enumeration value="BlockSignatureGetInfo"/>

							         <xs:enumeration value="BlockSignatureGetInfoBackwards"/>

							         <xs:enumeration value="BlockSignatureGetCompleteInfo"/>

						        </xs:restriction>

					       </xs:simpleType>

				      </xs:element>

				      <xs:element name="versionMsg" type="xs:string"/>

				      <xs:element name="response">

					       <xs:complexType>

						        <xs:choice>

							         <xs:element name="Response">

								          <xs:complexType>

									           <xs:choice>

										            <xs:group ref="wssignature:resultadoSignatureValidation"/>

										            <xs:group ref="wssignature:resultadoServerSignature"/>

										            <xs:group ref="wssignature:resultadoServerSignatureCoSign"/>

										            <xs:group ref="wssignature:resultadoServerSignatureCounterSign"/>

										            <xs:group ref="wssignature:resultadoThreePhaseUserSignatureF1"/>

										            <xs:group ref="wssignature:resultadoThreePhaseUserSignatureF1CoSign"/>

										            <xs:group ref="wssignature:resultadoThreePhaseUserSignatureF1CounterSign"/>

										            <xs:group ref="wssignature:resultadoThreePhaseUserSignatureF3"/>

										            <xs:group ref="wssignature:resultadoTwoPhaseUserSignatureF2"/>

										            <xs:group ref="wssignature:resultadoBlockSignatureValidationComplete"/>

										            <xs:group ref="wssignature:resultadoBlockSignatureValidationDocument"/>

										            <xs:group ref="wssignature:resultadoBlockUserSignatureF1"/>

										            <xs:group ref="wssignature:resultadoBlockUserSignatureF3"/>

										            <xs:group ref="wssignature:resultadoBlockSignatureGetDocIds"/>

										            <xs:group ref="wssignature:resultadoBlockSignatureGetDocIdsBackwards"/>

										            <xs:group ref="wssignature:resultadoBlockSignatureGetInfo"/>

										            <xs:group ref="wssignature:resultadoBlockSignatureGetInfoBackwards"/>

										            <xs:group ref="wssignature:resultadoBlockSignatureGetCompleteInfo"/>

									           </xs:choice>

								          </xs:complexType>

							         </xs:element>

							         <xs:element name="Exception">

								          <xs:complexType>

									           <xs:group ref="wsfirma:Excepcion"/>

								          </xs:complexType>

							         </xs:element>

						        </xs:choice>

					       </xs:complexType>

				      </xs:element>

			     </xs:sequence>

		    </xs:complexType>

	   </xs:element>

	<!-- Descripcion de Validar Firmas-->

	   <xs:complexType name="descripcionSignatureValidation">

		    <xs:sequence>

			     <xs:element name="eSignatureValidation">

				      <xs:complexType>

					       <xs:sequence>

						        <xs:element name="process" type="xs:string"/>

						        <xs:element name="detail" type="xs:string"/>

						        <xs:element name="conclusion" type="xs:string"/>

						        <xs:element minOccurs="0" name="additionalInformation">

							         <xs:complexType>

								          <xs:sequence>

									           <xs:element maxOccurs="unbounded" name="signer">

										            <xs:complexType>

											             <xs:sequence>

												              <xs:element name="certificate" type="xs:string"/>

												              <xs:element name="timeStamp" type="xs:string"/>

												              <xs:element name="certificateTSA" type="xs:string"/>

											             </xs:sequence>

										            </xs:complexType>

									           </xs:element>

								          </xs:sequence>

							         </xs:complexType>

						        </xs:element>

					       </xs:sequence>

				      </xs:complexType>

			     </xs:element>

		    </xs:sequence>

	   </xs:complexType>

	<!-- Descripcion Validar Firmas Bloques-->

	   <xs:complexType name="descripcionBlockSignatureValidation">

		    <xs:sequence>

			     <xs:element name="eSignatureValidation">

				      <xs:complexType>

					       <xs:sequence>

						        <xs:element name="process" type="xs:string"/>

						        <xs:element name="detail" type="xs:string"/>

					       </xs:sequence>

				      </xs:complexType>

			     </xs:element>

		    </xs:sequence>

	   </xs:complexType>

  </xs:schema>
 </wsdl:types>

   <wsdl:message name="BlockSignatureGetCompleteInfoResponse">

      <wsdl:part name="BlockSignatureGetCompleteInfoReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="BlockSignatureGetCompleteInfoRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="Signature">

      <wsdl:operation name="BlockSignatureGetCompleteInfo" parameterOrder="in0">

         <wsdl:input message="impl:BlockSignatureGetCompleteInfoRequest" name="BlockSignatureGetCompleteInfoRequest"/>

         <wsdl:output message="impl:BlockSignatureGetCompleteInfoResponse" name="BlockSignatureGetCompleteInfoResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BlockSignatureGetCompleteInfoSoapBinding" type="impl:Signature">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="BlockSignatureGetCompleteInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="BlockSignatureGetCompleteInfoRequest">

            <wsdlsoap:body namespace="http://afirmaws/services/BlockSignatureGetCompleteInfo" use="literal"/>

         </wsdl:input>

         <wsdl:output name="BlockSignatureGetCompleteInfoResponse">

            <wsdlsoap:body namespace="http://afirmaws/services/BlockSignatureGetCompleteInfo" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SignatureService">

      <wsdl:port binding="impl:BlockSignatureGetCompleteInfoSoapBinding" name="BlockSignatureGetCompleteInfo">

         <wsdlsoap:address location="https://${balanceador}/afirmaws/services/BlockSignatureGetCompleteInfo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
