KitIntegracionWS/wsdl/mvalidacion/ValidateCertificate.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://afirmaws/services/ValidateCertificate" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://afirmaws/services/ValidateCertificate" xmlns:intf="http://afirmaws/services/ValidateCertificate" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsvalidation="http://afirmaws/ws/validation" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://afirmaws/ws/validation" xmlns:wsvalidation="http://afirmaws/ws/validation" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- PETICION DE VALIDACION Y OBTENCION DE INFORMACION DE UN CERTIFICADO -->

	<!-- Elemento raiz -->

	   <xs:element name="inputMessage">

		    <xs:complexType>

			     <xs:sequence>

				      <xs:element name="request">

					       <xs:simpleType>

						        <xs:restriction base="xs:string">

							         <xs:enumeration value="ValidateCertificate"/>

							         <xs:enumeration value="GetInfoCertificate"/>

						        </xs:restriction>

					       </xs:simpleType>

				      </xs:element>

				      <xs:element name="versionMsg" type="xs:string"/>

				      <xs:element name="parameters">

					       <xs:complexType>

						        <xs:sequence>

							         <xs:element name="certificate" type="xs:string"/>

							         <xs:element name="applicationId" type="xs:string"/>

							         <xs:element minOccurs="0" name="validationMode">

								          <xs:simpleType>

									           <xs:restriction base="xs:integer">

										            <xs:minInclusive value="0"/>

										            <xs:maxInclusive value="2"/>

									           </xs:restriction>

								          </xs:simpleType>

							         </xs:element>

							         <xs:element minOccurs="0" name="getInfo" type="xs:boolean"/>

						        </xs:sequence>

					       </xs:complexType>

				      </xs:element>

			     </xs:sequence>

		    </xs:complexType>

	   </xs:element>

	<!-- RESULTADO DE UNA PETICION DE VALIDACION DE UN CERTIFICADO E INFORMACION SOBRE EL MISMO -->

	<!-- Elemento raiz -->

	   <xs:element name="outputMessage">

		    <xs:complexType>

			     <xs:sequence>

				      <xs:element name="request">

					       <xs:simpleType>

						        <xs:restriction base="xs:string">

							         <xs:enumeration value="ValidateCertificate"/>

							         <xs:enumeration value="GetInfoCertificate"/>

						        </xs:restriction>

					       </xs:simpleType>

				      </xs:element>

				      <xs:element name="versionMsg" type="xs:string"/>

				      <xs:element name="response">

					       <xs:complexType>

						        <xs:choice>

							         <xs:element name="ProcessResult">

								          <xs:complexType>

									           <xs:sequence>

										            <xs:element minOccurs="0" name="InfoCertificate" type="wsvalidation:InfoCertificadoInfo"/>

										            <xs:element minOccurs="0" name="ValidationResult" type="wsvalidation:ResultadoValidacionInfo"/>

									           </xs:sequence>

								          </xs:complexType>

							         </xs:element>

							         <xs:element name="Excepcion">

								          <xs:complexType>

									           <xs:sequence>

										            <xs:element name="errorCode" type="xs:string"/>

										            <xs:element name="description" type="xs:string"/>

										            <xs:element minOccurs="0" name="exception" type="xs:string"/>

									           </xs:sequence>

								          </xs:complexType>

							         </xs:element>

						        </xs:choice>

					       </xs:complexType>

				      </xs:element>

			     </xs:sequence>

		    </xs:complexType>

	   </xs:element>

	<!-- Informacion sobre el certificado -->

	   <xs:complexType name="InfoCertificadoInfo">

		    <xs:sequence>

			     <xs:element maxOccurs="unbounded" name="Field">

				      <xs:complexType>

					       <xs:sequence>

						        <xs:element name="idField" type="xs:string"/>

						        <xs:element name="fieldValue" type="xs:string"/>

					       </xs:sequence>

				      </xs:complexType>

			     </xs:element>

		    </xs:sequence>

	   </xs:complexType>

	<!-- Resultado de la validacion. Segun se indique en la peticion, la validacion sera
mas o menos exahustiva -->

	   <xs:complexType name="ResultadoValidacionInfo">

		    <xs:sequence>

			     <xs:element name="result" type="xs:string"/>

			     <xs:element name="description" type="xs:string"/>

			     <xs:element name="SimpleValidation" type="wsvalidation:ValidacionSimpleInfo"/>

			     <xs:element minOccurs="0" name="StatusValidation" type="wsvalidation:ValidacionEstadoInfo"/>

			     <xs:element minOccurs="0" name="ChainValidation" type="wsvalidation:ValidacionCadenaInfo"/>

		    </xs:sequence>

	   </xs:complexType>

	<!-- Validacion basica -->

	   <xs:complexType name="ValidacionSimpleInfo">

		    <xs:sequence>

			     <xs:element name="resultCode" type="xs:string"/>

			     <xs:element name="resultDescription" type="xs:string"/>

			     <xs:element minOccurs="0" name="exception" type="xs:string"/>

		    </xs:sequence>

	   </xs:complexType>

	<!-- Validacion sobre el estado de revocacion del certificado -->

	   <xs:complexType name="ValidacionEstadoInfo">

		    <xs:sequence>

			     <xs:element name="status" type="xs:string"/>

			     <xs:element name="statusDescription" type="xs:string"/>

			     <xs:element maxOccurs="unbounded" name="VerificationMethodInfo">

				      <xs:complexType>

					       <xs:sequence>

						        <xs:element name="status" type="xs:string"/>

						        <xs:element name="statusDescription" type="xs:string"/>

						        <xs:element minOccurs="0" name="lastUpdateDate" type="xs:string"/>

						        <xs:element minOccurs="0" name="revocationDate" type="xs:string"/>

						        <xs:element minOccurs="0" name="motive" type="xs:string"/>

						        <xs:element name="Method">

							         <xs:complexType>

								          <xs:sequence>

									           <xs:element name="serverURL" type="xs:string"/>

									           <xs:element name="protocol" type="xs:string"/>

								          </xs:sequence>

							         </xs:complexType>

						        </xs:element>

						        <xs:element minOccurs="0" name="tokenOCSP" type="xs:string"/>

						        <xs:element minOccurs="0" name="exception" type="xs:string"/>

					       </xs:sequence>

				      </xs:complexType>

			     </xs:element>

		    </xs:sequence>

	   </xs:complexType>

	<!-- Validacion de toda la cadena de certificados hasta el certificado raiz -->

	   <xs:complexType name="ValidacionCadenaInfo">

		    <xs:sequence>

			     <xs:element name="resultCode" type="xs:string"/>

			     <xs:element name="resultDescription" type="xs:string"/>

			     <xs:element maxOccurs="unbounded" minOccurs="0" name="certificateError">

				      <xs:complexType>

					       <xs:sequence>

						        <xs:element name="idCertificate" type="xs:string"/>

						        <xs:element name="SimpleValidation" type="wsvalidation:ValidacionSimpleInfo"/>

						        <xs:element name="StatusValidation" type="wsvalidation:ValidacionEstadoInfo"/>

					       </xs:sequence>

				      </xs:complexType>

			     </xs:element>

		    </xs:sequence>

	   </xs:complexType>

  </xs:schema>
 </wsdl:types>

   <wsdl:message name="ValidateCertificateRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="ValidateCertificateResponse">

      <wsdl:part name="ValidateCertificateReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="Validation">

      <wsdl:operation name="ValidateCertificate" parameterOrder="in0">

         <wsdl:input message="impl:ValidateCertificateRequest" name="ValidateCertificateRequest"/>

         <wsdl:output message="impl:ValidateCertificateResponse" name="ValidateCertificateResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ValidateCertificateSoapBinding" type="impl:Validation">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="ValidateCertificate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ValidateCertificateRequest">

            <wsdlsoap:body namespace="http://afirmaws/services/ValidateCertificate" use="literal"/>

         </wsdl:input>

         <wsdl:output name="ValidateCertificateResponse">

            <wsdlsoap:body namespace="http://afirmaws/services/ValidateCertificate" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ValidationService">

      <wsdl:port binding="impl:ValidateCertificateSoapBinding" name="ValidateCertificate">

         <wsdlsoap:address location="https://${balanceador}/afirmaws/services/ValidateCertificate"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
