KitIntegracionWS/wsdl/mcustodia/ObtenerTransaccionesReferencia.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://afirmaws/services/ObtenerTransaccionesReferencia" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://afirmaws/services/ObtenerTransaccionesReferencia" xmlns:intf="http://afirmaws/services/ObtenerTransaccionesReferencia" xmlns:wscustodia="http://afirmaws/ws/custodia" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <xs:schema targetNamespace="http://afirmaws/ws/custodia" xmlns:wscustodia="http://afirmaws/ws/custodia" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!--<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >-->

	<!--PETICION-->

	<!-- Definicion Elementos Simples -->

	   <xs:group name="IdAplicacion">

		    <xs:sequence>

			     <xs:element name="idAplicacion" type="xs:string"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="IdTransaccion">

		    <xs:sequence>

			     <xs:element name="idTransaccion" type="xs:string"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="Referencia">

		    <xs:sequence>

			     <xs:element name="referencia" type="xs:string"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="Documento">

		    <xs:sequence>

			     <xs:element name="documento" type="xs:base64Binary"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="BloqueFirmas">

		    <xs:sequence>

			     <xs:element name="bloqueFirmas" type="xs:base64Binary"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="FirmaElectronica">

		    <xs:sequence>

			     <xs:element name="firmaElectronica" type="xs:base64Binary"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="FormatoFirma">

		    <xs:sequence>

			     <xs:element name="formatoFirma" type="xs:string"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="IdDocumento">

		    <xs:sequence>

			     <xs:element name="idDocumento" type="xs:string"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="NombreDocumento">

		    <xs:sequence>

			     <xs:element name="nombreDocumento" type="xs:string"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="TipoDocumento">

		    <xs:sequence>

			     <xs:element name="tipoDocumento" type="xs:string"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="FechaInicial">

		    <xs:sequence>

			     <xs:element name="fechaInicial" type="xs:string"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="FechaFinal">

		    <xs:sequence>

			     <xs:element name="fechaFinal" type="xs:string"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="IdTransacciones">

		    <xs:sequence>

			     <xs:element minOccurs="0" name="idTransacciones">

				      <xs:complexType>

					       <xs:sequence>

						        <xs:element minOccurs="0" name="idTransaccion" type="xs:string"/>

					       </xs:sequence>

				      </xs:complexType>

			     </xs:element>

		    </xs:sequence>

	   </xs:group>

	<!-- Definicion Grupos de Elementos de Entrada segun Servicio Web -->

	   <xs:group name="AlmacenarDocumento">

		    <xs:sequence>

			     <xs:group ref="wscustodia:IdAplicacion"/>

			     <xs:group ref="wscustodia:Documento"/>

			     <xs:group ref="wscustodia:NombreDocumento"/>

			     <xs:group ref="wscustodia:TipoDocumento"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="EliminarContenidoDocumento">

		    <xs:sequence>

			     <xs:group ref="wscustodia:IdAplicacion"/>

			     <xs:group ref="wscustodia:IdDocumento"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="ActualizarReferencia">

		    <xs:sequence>

			     <xs:group ref="wscustodia:IdAplicacion"/>

			     <xs:group ref="wscustodia:IdTransaccion"/>

			     <xs:group ref="wscustodia:Referencia"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="ObtenerTransaccionesPorFecha">

		    <xs:sequence>

			     <xs:group ref="wscustodia:IdAplicacion"/>

			     <xs:group ref="wscustodia:FechaInicial"/>

			     <xs:group ref="wscustodia:FechaFinal"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="ObtenerTransacciones">

		    <xs:sequence>

			     <xs:group ref="wscustodia:IdAplicacion"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="ObtenerIdDocumento">

		    <xs:sequence>

			     <xs:group ref="wscustodia:IdAplicacion"/>

			     <xs:group ref="wscustodia:IdTransaccion"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="ObtenerFirmaTransaccion">

		    <xs:sequence>

			     <xs:group ref="wscustodia:IdAplicacion"/>

			     <xs:group ref="wscustodia:IdTransaccion"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="ObtenerContenidoDocumento">

		    <xs:sequence>

			     <xs:group ref="wscustodia:IdAplicacion"/>

			     <xs:group ref="wscustodia:IdTransaccion"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="ObtenerBloqueFirmas">

		    <xs:sequence>

			     <xs:group ref="wscustodia:IdAplicacion"/>

			     <xs:group ref="wscustodia:IdTransaccion"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="ObtenerTransaccionesReferencia">

		    <xs:sequence>

			     <xs:group ref="wscustodia:IdAplicacion"/>

			     <xs:group ref="wscustodia:Referencia"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="ObtenerContenidoDocumentoId">

		    <xs:sequence>

			     <xs:group ref="wscustodia:IdAplicacion"/>

			     <xs:group ref="wscustodia:IdDocumento"/>

		    </xs:sequence>

	   </xs:group>

	<!-- Definicion Grupos de Elementos de Salida  -->

	   <xs:group name="resultadoGeneral">

		    <xs:sequence>

			     <xs:element name="estado" type="xs:boolean"/>

			     <xs:element minOccurs="0" name="descripcion" type="xs:string"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoAlmacenarDocumento">

		    <xs:sequence>

			     <xs:group ref="wscustodia:resultadoGeneral"/>

			     <xs:group ref="wscustodia:IdDocumento"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoEliminarContenidoDocumento">

		    <xs:sequence>

			     <xs:group ref="wscustodia:resultadoGeneral"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoActualizarReferencia">

		    <xs:sequence>

			     <xs:group ref="wscustodia:resultadoGeneral"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoObtenerTransaccionesPorFecha">

		    <xs:sequence>

			     <xs:group ref="wscustodia:resultadoGeneral"/>

			     <xs:group ref="wscustodia:IdTransacciones"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoObtenerTransacciones">

		    <xs:sequence>

			     <xs:group ref="wscustodia:resultadoGeneral"/>

			     <xs:group ref="wscustodia:IdTransacciones"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoObtenerIdDocumento">

		    <xs:sequence>

			     <xs:group ref="wscustodia:resultadoGeneral"/>

			     <xs:group ref="wscustodia:IdDocumento"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoObtenerFirmaTransaccion">

		    <xs:sequence>

			     <xs:group ref="wscustodia:resultadoGeneral"/>

			     <xs:group ref="wscustodia:FirmaElectronica"/>

			     <xs:group ref="wscustodia:FormatoFirma"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoObtenerContenidoDocumento">

		    <xs:sequence>

			     <xs:group ref="wscustodia:resultadoGeneral"/>

			     <xs:group ref="wscustodia:Documento"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoObtenerBloqueFirmas">

		    <xs:sequence>

			     <xs:group ref="wscustodia:resultadoGeneral"/>

			     <xs:group ref="wscustodia:BloqueFirmas"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoObtenerTransaccionesReferencia">

		    <xs:sequence>

			     <xs:group ref="wscustodia:resultadoGeneral"/>

			     <xs:group ref="wscustodia:IdTransacciones"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="resultadoObtenerContenidoDocumentoId">

		    <xs:sequence>

			     <xs:group ref="wscustodia:resultadoGeneral"/>

			     <xs:group ref="wscustodia:Documento"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:group name="Excepcion">

		    <xs:sequence>

			     <xs:element name="codigoError" type="xs:string"/>

			     <xs:element name="descripcion" type="xs:string"/>

			     <xs:element minOccurs="0" name="excepcionAsociada" type="xs:string"/>

		    </xs:sequence>

	   </xs:group>

	   <xs:element name="mensajeEntrada">

		    <xs:complexType>

			     <xs:sequence>

				      <xs:element name="peticion">

					       <xs:simpleType>

						        <xs:restriction base="xs:string">

							         <xs:enumeration value="AlmacenarDocumento"/>

							         <xs:enumeration value="EliminarContenidoDocumento"/>

							         <xs:enumeration value="ActualizarReferencia"/>

							         <xs:enumeration value="ObtenerTransaccionesPorFecha"/>

							         <xs:enumeration value="ObtenerTransacciones"/>

							         <xs:enumeration value="ObtenerIdDocumento"/>

							         <xs:enumeration value="ObtenerFirmaTransaccion"/>

							         <xs:enumeration value="ObtenerContenidoDocumento"/>

							         <xs:enumeration value="ObtenerBloqueFirmas"/>

							         <xs:enumeration value="ObtenerTransaccionesReferencia"/>

							         <xs:enumeration value="ObtenerContenidoDocumentoId"/>

						        </xs:restriction>

					       </xs:simpleType>

				      </xs:element>

				      <xs:element name="versionMsg" type="xs:string"/>

				      <xs:element name="parametros">

					       <xs:complexType>

						        <xs:choice>

							         <xs:group ref="wscustodia:AlmacenarDocumento"/>

							         <xs:group ref="wscustodia:EliminarContenidoDocumento"/>

							         <xs:group ref="wscustodia:ActualizarReferencia"/>

							         <xs:group ref="wscustodia:ObtenerTransaccionesPorFecha"/>

							         <xs:group ref="wscustodia:ObtenerTransacciones"/>

							         <xs:group ref="wscustodia:ObtenerIdDocumento"/>

							         <xs:group ref="wscustodia:ObtenerFirmaTransaccion"/>

							         <xs:group ref="wscustodia:ObtenerContenidoDocumento"/>

							         <xs:group ref="wscustodia:ObtenerBloqueFirmas"/>

							         <xs:group ref="wscustodia:ObtenerTransaccionesReferencia"/>

							         <xs:group ref="wscustodia:ObtenerContenidoDocumentoId"/>

						        </xs:choice>

					       </xs:complexType>

				      </xs:element>

			     </xs:sequence>

		    </xs:complexType>

	   </xs:element>

	<!-- RESULTADO  -->

	<!-- Elemento raiz -->

	   <xs:element name="mensajeSalida">

		    <xs:complexType>

			     <xs:sequence>

				      <xs:element name="peticion">

					       <xs:simpleType>

						        <xs:restriction base="xs:string">

							         <xs:enumeration value="AlmacenarDocumento"/>

							         <xs:enumeration value="EliminarContenidoDocumento"/>

							         <xs:enumeration value="ActualizarReferencia"/>

							         <xs:enumeration value="ObtenerTransaccionesPorFecha"/>

							         <xs:enumeration value="ObtenerTransacciones"/>

							         <xs:enumeration value="ObtenerIdDocumento"/>

							         <xs:enumeration value="ObtenerFirmaTransaccion"/>

							         <xs:enumeration value="ObtenerContenidoDocumento"/>

							         <xs:enumeration value="ObtenerBloqueFirmas"/>

							         <xs:enumeration value="ObtenerTransaccionesReferencia"/>

							         <xs:enumeration value="ObtenerContenidoDocumentoId"/>

						        </xs:restriction>

					       </xs:simpleType>

				      </xs:element>

				      <xs:element name="versionMsg" type="xs:string"/>

				      <xs:element name="respuesta">

					       <xs:complexType>

						        <xs:choice>

							         <xs:element name="Respuesta">

								          <xs:complexType>

									           <xs:choice>

										            <xs:group ref="wscustodia:resultadoAlmacenarDocumento"/>

										            <xs:group ref="wscustodia:resultadoEliminarContenidoDocumento"/>

										            <xs:group ref="wscustodia:resultadoActualizarReferencia"/>

										            <xs:group ref="wscustodia:resultadoObtenerTransaccionesPorFecha"/>

										            <xs:group ref="wscustodia:resultadoObtenerTransacciones"/>

										            <xs:group ref="wscustodia:resultadoObtenerIdDocumento"/>

										            <xs:group ref="wscustodia:resultadoObtenerFirmaTransaccion"/>

										            <xs:group ref="wscustodia:resultadoObtenerContenidoDocumento"/>

										            <xs:group ref="wscustodia:resultadoObtenerBloqueFirmas"/>

										            <xs:group ref="wscustodia:resultadoObtenerTransaccionesReferencia"/>

										            <xs:group ref="wscustodia:resultadoObtenerContenidoDocumentoId"/>
										
									           </xs:choice>

								          </xs:complexType>

							         </xs:element>

							         <xs:element name="Excepcion">

								          <xs:complexType>

									           <xs:group ref="wscustodia:Excepcion"/>

								          </xs:complexType>

							         </xs:element>

						        </xs:choice>

					       </xs:complexType>

				      </xs:element>

			     </xs:sequence>

		    </xs:complexType>

	   </xs:element>

  </xs:schema>
 </wsdl:types>

   <wsdl:message name="ObtenerTransaccionesReferenciaResponse">

      <wsdl:part name="ObtenerTransaccionesReferenciaReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="ObtenerTransaccionesReferenciaRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="Custodia">

      <wsdl:operation name="ObtenerTransaccionesReferencia" parameterOrder="in0">

         <wsdl:input message="impl:ObtenerTransaccionesReferenciaRequest" name="ObtenerTransaccionesReferenciaRequest"/>

         <wsdl:output message="impl:ObtenerTransaccionesReferenciaResponse" name="ObtenerTransaccionesReferenciaResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ObtenerTransaccionesReferenciaSoapBinding" type="impl:Custodia">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="ObtenerTransaccionesReferencia">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ObtenerTransaccionesReferenciaRequest">

            <wsdlsoap:body namespace="http://afirmaws/services/ObtenerTransaccionesReferencia" use="literal"/>

         </wsdl:input>

         <wsdl:output name="ObtenerTransaccionesReferenciaResponse">

            <wsdlsoap:body namespace="http://afirmaws/services/ObtenerTransaccionesReferencia" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CustodiaService">

      <wsdl:port binding="impl:ObtenerTransaccionesReferenciaSoapBinding" name="ObtenerTransaccionesReferencia">

         <wsdlsoap:address location="https://${balanceador}/afirmaws/services/ObtenerTransaccionesReferencia"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
